<table class="table table-hover">
    <thead>
    <tr>
        <td>Título do Livro</td>
        <td>Autor(a)</td>
        <td>Preço</td>
        <td colspan="2">Ações</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let livraria of livros">
            <td>{{ livraria.livro_name }}</td>
            <td>{{ livraria.autor_name }}</td>
            <td>{{ livraria.valor_number }}</td>
            <td><a [routerLink]="['/edit', livraria._id]" class="btn btn-primary">Editar</a></td>
            <td><a (click) = "deleteLivraria(livraria._id)" class="btn btn-danger">Delete</a>
        </tr>
    </tbody>
  </table>